/* width */
::-webkit-scrollbar {
    width: 8px !important;
    max-width: 8px !important;
    min-width: 8px !important;
    background: #fafafa;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #501755;
    border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #501755;
}


.card-bg-view{
    position: relative;
    height: 390px;
    border-radius: 10px;
    transition: border .3s ease-out;
    text-shadow: 1px 1px 3px #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .content {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid transparent;
        height: 100%;
        width: 100%;
        transition: background-color ease-out .3s;
        padding: 15px;
        border-radius: 10px;
        overflow: hidden;
        p {
            height: 0;
            overflow: hidden;
            transition: height .3s ease-out;
            color: rgba(255, 255, 255, 0.85);
        }
        &:hover {
            background-color: rgba(12, 6, 46, 0.6);
            border: 2px solid #b01ba5;
            p {
                height: 130px;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
    color: #ffffff;
    font-weight: 500;
}

a {
    transition: color .3s;
    &:hover {
        color: #fff !important;
    }
}

.main-menu a {
    transition: color .3s;
    &:hover {
        color: #b01ba5 !important;
    }
}

.main-menu .dropdown-menu {
    background-color: #081624;
}

[data-mouse-scrool="fade-up"] {
    opacity: 0;
    transform: translateY(200px);
    transition: ease-out 1s;
}

[data-mouse-scrool].activate{
    opacity: 1;
    transform: translate(0);
}

.paginate {
    margin: 20px;
}

iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
}

.video-container {
    position:absolute;
    height:22em;
    width:-webkit-fill-available;
    overflow:hidden;
}

.blog-thumb {
    position: relative;
    .video-play-icon{
        transition: opacity .3s ease-out;
        transition-delay: .5s;
    }
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(1.7);
    }
    &:hover {
        .video-play-icon{
            opacity: 0;
        }
    }
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:auto;
    height:100%;
}

.footer-menu {
    text-align: center;
}

.border-circle {
    border-radius: 20px;
    overflow: hidden;
}

.post-thumb-gallery {
    .item{
        border-radius: 10px;
        overflow: hidden;
            background-image: url("/img/loading.gif");
            background-position: center;
            background-size: 180px;
            background-repeat: no-repeat;
    }
    .owl-nav {
        display: none;
    }
    .owl-dots {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: flex-end;
        bottom: 0;
        width: 100%;
        height: 60px;
        .owl-dot {
            position: relative;
            background-color: transparent;
            color: inherit;
            border: none;
            padding: 2px !important;
            margin: 0;
            font: inherit;
            width: 40px;
            height: 55px;
            cursor: crosshair;
            &:after {
                content: "";
                position: absolute;
                background-color: rgba(255,255,255,0.75);
                bottom: 4px;
                left: 0;
                height: 5px;
                width: 90%;
            }
            &.active {
                &:after {
                    background-color: #6f2b95;
                }
            }
        }
    }
}

.video-play-icon {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: url('/img/video-icon.png') no-repeat center;
    background-size: contain;
}

.game-single-content {
    & > ul {
        margin-left: 15px;
    }
    div {
        color: #fff;
    }
}

.games-section {
    .game-item {
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 248px;
            img {
                max-width: unset;
                height: 100%;
            }
        }
    }
}

.page-info h1{
    color: #fff;
    font-size: 48px;
}

.main-menu.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    li a {
        margin: 0 20px;
        padding-right: 0;
    }
}

.copyright {
    color: #b9b9b9;
    opacity: 1;
}

footer {
    position: relative;
}
.bestsite {
    z-index: 0;
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 100px;
    opacity: 0.2;
    img {
        width: 100%;
        height: auto;
    }
}

.tw-text h5 a {
    color: #b01ba5;
}

.open-popup-link {
    display: flex;
    position: relative;
}

.page-popup {
    position: relative;
    background: #000;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin: 20px auto;
    iframe {
        display: block;
        width: 100%;
        height: 100%;
    }
    .mfp-close {
        color: #fff;
        transform: translate(11px, -10px);
    }
}

#stickySidebar {
    position: sticky;
    top: 10px;
}

.game-single-content {
    color: #fff;
}

.fb-share-button {
    display: none;
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: unset;
}

.max-w {
    max-width: 1400px !important;
}

.my-cab {
    background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
}

.my-posts-section {
    .my-post {
        display: flex;
        flex-shrink: 0;
        height: 160px;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;
        padding: 0;
        background-color: #d2d2d2;
        justify-content: center;

        .left {
            margin: 0;
            padding: 0;
            height: 100%;
            width: auto;


            .image {
                display: block;
                height: 100%;

                img {
                    width: auto;
                    max-width: unset;
                    height: 100%;
                }
            }
        }
        .right {
            padding: 20px;
        }
        .actions {
            visibility: hidden;
            background-color: #8bc34a;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        &.pending {
            border: 4px solid #fad888;
        }
        &.rejected {
            border: 4px solid #801e30;
        }
        &.approved {
            border: 4px solid green;
        }

        &:hover {
            .actions {
                visibility: visible;
            }
        }
    }
}

@media (max-width: 991px) {
    .blog-item .text-box p {
        height: unset;
    }
}

@media (max-width: 400px) {
    .intro-section {
        padding-left: 5px;
    }
}
