<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <br>
                <br>
                <br>
                <br>

                <button type="button" class="btn btn-primary" @click="open_form = !open_form">
                    Заказать рекламу
                </button>


                <br>
                <br>
                <br>
                <br>

                <transition name="fade">
                    <cab-form-component v-if="open_form"></cab-form-component>
                </transition>

                <br>
                <br>
                <br>
                <br>

            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data: function () {
            return {
                open_form: false
            }
        },
        mounted() {
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
