<template>
    <div>
        <div class="image">
            <img :src="image" class="uploading-image" />
        </div>
        <br>
        <input type="file" ref="file" name="image" accept="image/jpeg" @change=uploadImage>
        <br>
        <br>
        <input @click="addUpload" type="button" class="btn btn-info" value="Сохранить">
    </div>
</template>

<script>
    export default {
        name: '',
        file: '',
        data(){
            return{
                image: null,
                file:  null,
                formData: new FormData()
            }
        },
        methods:{
            uploadImage(e) {
                const reader = new FileReader();
                reader.readAsDataURL(e.target.files[0]);
                reader.onload = e =>{
                    this.image = e.target.result;
                };
                this.file = e.target.files[0];
                this.formData.append('file', this.$refs.file.files[0]);
                console.log(this.$refs.file)
            },
            addUpload() {
                axios.post('/api/add-upload', this.formData, {
                    headers: { 'Content-Type': 'multipart/form-data' }
                }).then(response => {
                    console.log(response.data)
                }).catch((error) => {
                    console.log(error)
                });
            }
        }
    }
</script>
