<template>
        <div class="col-xl-7 col-lg-8 col-md-7">
            <div v-if="games.length" class="row">
                <div v-for="(game, i) in games" :index="i" class="col-lg-4 col-md-6">
                    <a :href="`/games/${game.slug}/${game.id}`">
                        <div class="game-item">
                            <div class="image">
                                <img class="lazy" src="/img/lazy_16.jpg" :data-original="game.background_image" :alt="game.title">
                            </div>
                            <h5>{{game.title}}</h5>
                            <a :href="`/games/${game.slug}/${game.id}`" class="read-more">Читать далее  <img src="/img/icons/double-arrow.png" :alt="game.title"/></a>
                        </div>
                    </a>
                </div>
                <div class="next-page" @click="getItems">
                    <span v-if="loading" class="site-btn active">Идет загрузка ...</span>
                    <span v-else class="site-btn">Загрузить еще<img src="/img/icons/double-arrow.png" alt="#"></span>
                </div>
            </div>
            <div v-else class="preloader">
                <img src="/img/loading.gif" alt="loading | gikmir">
            </div>
        </div>
</template>

<script>
    export default {
        data: function () {
            return {
                games: [],
                loading: false,
                next_page: null,
                search_text: "",
                search_find: []
            }
        },
        created() {
            window.addEventListener('scroll', this.loadOnScrool);
            let query = window.location.pathname.split('/', 5);
            if(query[1] === 'find' && query[2] === 'games') {
                let type = query[3];
                let id = query[4];
                this.getItemsWithParams(type, id);
            } else {
                this.getItems();
            }
        },
        methods: {
            getItems() {
                if (this.loading) return false ;
                this.loading = true ;
                if (this.next_page) this.get(this.next_page);
                else {
                    this.get();
                }
            },
            getItemsWithParams(type, id) {
                if (this.loading) return false ;
                    this.loading = true ;
                if (this.next_page) this.get(this.next_page);
                else {
                    this.get('games-by-type', type, id);

                    axios.get('/games-by-type' + '/' + type + '/' + id)
                        .then(
                            (res) => {
                                this.next_page = res.data.next_page_url;
                                res.data.data.forEach(o => {
                                    this.games.push(o);
                                });
                                setTimeout(() => {
                                    this.loadOnScrool();
                                    this.loading = false;
                                }, 500);
                            },
                        )
                        .catch(
                            err => console.log(err)
                        )
                }
            },
            get(url = '/all-games') {
                axios.get(url)
                    .then(
                        (res) => {
                            this.next_page = res.data.next_page_url;
                            res.data.data.forEach(o => {
                                this.games.push(o);
                            });
                            setTimeout(() => {
                                this.loadOnScrool();
                                this.loading = false;
                            }, 500);
                        },
                    )
                    .catch(
                        err => console.log(err)
                    )
            },
            loadOnScrool() {
                let position = $(window).scrollTop(); // Позиция Экрана
                let attributes = $("[data-original]"); // Находим все элементы с атрибутом data-mouse-scrool
                for (let i = 0; i < Object.keys(attributes).length; i++) {
                    let attribute = $(attributes[i]); // Берем элементы по отдельности
                    if (attribute.offset()) {
                        // Определяем позицию экоана для добавления класса
                        let customPos = -60;
                        let itemPos = attribute.offset().top - $(window).height() + customPos;
                        if (!attribute.hasClass('loaded') && position > itemPos && position < itemPos + $(window).height()) {
                            attribute.attr('src', attribute.attr('data-original'));
                            attribute.addClass('loaded'); // Добавляем нужные для нас классы
                        }
                    }
                }
            },
            search() {
                axios.get(`/search/game/${this.search_text}`)
                    .then((res) => {
                        this.search_find = res.data;
                    },
                )
            },
            clearSearch() {
                this.search_find = [];
            }
        }
    }
</script>

<style lang="scss">
    .next-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        color: #fff;
        cursor: pointer;
        span {
            &.active {
                color: #fff;
                &:before {
                    background-color: #b01ba5;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
    .preloader {
        display: flex;
        justify-content: center;
        height: 240px;
        img {
            max-height: 100%;
        }
    }
    .find {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        a {
            width: 150px;
            height: 40px;
            border: #0b0b0b;
        }
    }
</style>
