<template>
        <div class="widget-item">
            <div class="search-widget">
                <input type="text" autocomplete="off" placeholder="найти игру" name="search"
                       v-model="search_text"
                       @input="search"
                       @blur=""
                >
                <span v-if="search_text" class="clear" @click="clearText">x</span>
                <div class="find" :class="{'active': search_text}">
                    <span v-if="loading" class="center"><img src="/img/loading.gif" alt="загрузка"></span>
                    <a v-else-if="search_find.length" v-for="game in search_find" :href="`/games/${game.slug}/${game.id}`">
                        {{game.title}}
                    </a>
                    <span v-else-if="this.search_text && this.search_text.length < 3" class="center">Не менше 3 символов</span>
                    <span v-else-if="this.search_text" class="center">Не найдено</span>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        data: function () {
            return {
                search_text: '',
                search_find: [],
                loading: false
            }
        },
        methods: {
            search() {
                if (!(/\S/.test(this.search_text)) || this.search_text.length < 3) return false;
                // if (!this.search_text.match(/^[0-9a-zA-Z]+$/)) return false;

                this.loading = true;
                axios.get(`/search/game/${this.search_text}`)
                    .then((res) => {
                        this.search_find = res.data;
                        this.loading = false;
                    }).catch((err) => {
                        console.log(err)
                    });
            },

            clearSearch() {
                this.search_find = [];
            },

            clearText() {
                this.search_text = '';
                this.search_find = [];
            }
        }
    }
</script>

<style lang="scss">
    .find {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, #fdf2ff 0%, rgb(255 248 255 / 89%) 100%);
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-out .4s;
        margin: 0;
        padding: 0;
        border: 0 solid #bbb;
        border-radius: 10px;
        a {
            width: 100%;
            height: auto;
            margin: 5px 0;
            padding: 5px;
            border: 1px solid #c1c1c1;
            box-shadow: 1px 1px 5px -2px;
            color: #333;
            transition: .3s;
            border-radius: 5px;
            &:hover {
                transition: .3s;
                color: #501755!important;
                border: 1px solid #501755;
                box-shadow: 1px 1px 5px -2px #501755;
            }
        }
        &.active {
            transition: .4s ease-out;
            max-height: 70vh;
            margin: 5px 0;
            padding: 10px;
            border: 1px solid #bbb;
            overflow: auto;
        }
    }
    .search-widget {
        position: relative;
        .clear {
            position: absolute;
            top: 5px;
            right: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-family: cursive;
        }
        .center {
            width: 100%;
            text-align: center;
        }
    }
</style>
