.bg-grad-sidebar {
    background-image: linear-gradient(0deg,#501755,#2d1854);
    background-attachment: fixed;
}
.bg-logo {
    margin-top: 10px;
    background-color: unset;
}
.tr {
    position: relative;
}
.td-fit.text-right.pr-6.align-middle {
    position: sticky;
    right: 0;
    top: 0;
    background-color: #f5f5f5;
}
